<div <%= options.to_s(include_classes: ['alert', "alert-#{options.extract(:level, default: 'warning')}", 'fade', 'show', (options.extract(:dismissible, default: true) ? 'alert-dismissible' : '')]) %> role='alert'>
  <% unless options.extract(:header, default: nil).blank? %>
    <h4 class="alert-heading">
      <%= klass.generate_icon(options.extract(:icon, default: true), options.extract(:level, default: 'warning')) %> <%= options.extract(:header, default: nil) %>
    </h4>
  <% end %>
  <% if content.blank? %>
    <p>
      <% if options.extract(:header, default: nil).blank? %><%= klass.generate_icon(options.extract(:icon, default: true), options.extract(:level, default: 'warning'))  %><% end %>
      <%= text %>
    </p>
  <% else %>
    <% if options.extract(:header, default: nil).blank? %>
      <%= klass.generate_icon(options.extract(:icon, default: true), options.extract(:level, default: 'warning')) %>
    <% end %>
    <%= content %>
  <% end %>
  <% if options.extract(:dismissible, default: true) %>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  <% end %>
</div>
