<%= content_for :modals do %>
  <div class="modal fade" id="<%= modal_id %>" tabindex="-1" aria-labelledby="<%= modal_id %>Label" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="<%= modal_id %>Label"><%= title %></h1>
          <button type="button" class="btn-close reset-artifact" data-bs-dismiss="modal" aria-label="Close" data-input='<%= options.raw[:input] %>' data-source='<%= options.raw[:source] %>'></button>
        </div>
        <div class="modal-body">
          <%= content %>
        </div>
        <div class="modal-footer">
          <%= render partial: 'helpers/bootstrap/modal/buttons', locals: { options: options, modal_id: modal_id } %>
        </div>
      </div>
    </div>
  </div>
<% end %>
