<div class="progress" style="<%= options[:style] %>">
  <div class="progress-bar progress-bar-striped progress-bar-animated bg-<%= color %>" role="progressbar" style="width: <%= percentage %>%; <%= options[:style] %>" aria-valuenow="<%= percentage %>" aria-valuemin="0" aria-valuemax="100">
    <%= label %>
  </div>
</div>
